<form aria-label="Submit resources form" method="POST" action="/resource">
    <select aria-label="input language" name="language" required>
        <option value="" disabled selected>Select a language</option>
        <option value="CSS">CSS</option>
        <option value="EXPRESS">EXPRESS</option>
        <option value="HANDLEBARS">HANDLEBARS</option>
        <option value="HTML">HTML</option>
        <option value="JAVASCRIPT">JAVASCRIPT</option>
        <option value="NODE">NODE</option>
        <option value="REACT">REACT</option>
        <option value="SQL">SQL</option>
    </select>
    <label>Title: <input type="text" name="title" required></label><br>
    <label>Link: <input type="text" name="link" required></label><br>
    <label>Description: <input type="text" name="description" required></label><br>
    <button type="submit">Add</button>
</form>
