<form method="GET" action="/">
    <select>
        <option value="" disabled selected>Select a language</option>
        <option value="css">CSS</option>
        <option value="express">EXPRESS</option>
        <option value="handlebars">HANDLEBARS</option>
        <option value="html">HTML</option>
        <option value="js">JAVASCRIPT</option>
        <option value="node">NODE</option>
        <option value="react">REACT</option>
        <option value="sql">SQL</option>
    </select>
    <button type="submit">Filter</button>
</form>
<table>
    <tr>
        <th>Language</th>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
    <!-- Here we create a tr and td for each database entry-->
</table>