<header class="header">
    <nav class="nav-bar">
      <h1>BiblioTech</h1>
        <a href='/'>
            <button class="home-button">Go to Home</button>
        </a>
        <a href='/library'>
            <button class="library-button">Go to Library</button>
        </a>
    </nav>

</header>
