<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/index.css">
    <!-- select right css stylesheet depending in the page you want to use it-->
    <title>FAC Library</title>
</head>