<header class="header">
    <nav>
        <a href='/'>
            <button>Go to Home</button>
        </a>
        <a href='/library'>
            <button>Go to Library</button>
        </a>
    </nav>
    <h1>Resources Library</h1>
</header>
