<header class="header">
    <nav class="nav-bar">
      <h1>BiblioTech</h1>
      <p> The ultimate collection of developer resources </p>
        <a href='/'>
          <button class="home-button" aria-label="Go home button"><i class="fas fa-home"></i></button>
        </a>
        <a href='/library'>
          <button class="library-button" aria-label="Go to library button"><i class="fas fa-book"></i></button>
        </a>
    </nav>
</header>
