/* index.css */

:root {
spacing variables: golden ratio */
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;
}

body {
  display: flex;
  background-image: url("../librarybg.jpeg");
  background-size: cover;
}
